<% field_size = '50' %>
<%= form_for :person, url: mood_path(@person), method: :patch do |f| %>
<table>
  <tr align='center'>
    <td colspan='2'><img src="<%= @person.image_url %>" /></td>
  </tr>
  <tr>
    <th align='right'>Name:</th>
    <td><%= f.text_field :name, size: field_size %></td>
  </tr>
  <tr>
    <th align='right'>E-mail:</th>
    <td><%= f.text_field :email, size: field_size %></td>
  </tr> 
   <tr>
    <th align='right'>Pleasantness:</th>
    <td style='padding-left: 10px;'>
      <%= f.range_field :left, in: 0...984, style: 'width: 100%' %>
    </td>
  </tr>  
  <tr>
    <th align='right'>Energy:</th>
    <td style='padding-left: 10px;'>
      <%= f.range_field :top, in: 0...728, style: 'width: 100%' %>
    </td>
  </tr>
  <tr align='center'>
    <td colspan='2'>
      <%= f.submit 'Save Person' %>
    </td>
  </tr>
</table>
<% end %>
