<table>
  <tr align='center'>
    <td colspan='2'>
      <%= image_tag @person.image_url %>
    </td>
  </tr>
  <tr>
    <th align='right'>Name:</th>
    <td><%= @person.name %></td>
  </tr>
  <tr>
    <th align='right'>E-mail:</th>
    <td><%= @person.email %></td>
  </tr> 
   <tr>
    <th align='right'>Pleasantness:</th>
    <td>
      <%
      number_of_faces = 7
      divisor = 983 / number_of_faces

      color_faces = (@person.left / divisor)
      bw_faces = number_of_faces - color_faces
      
      for iteration in 1..color_faces do -%>
        <%= image_tag 'face_color.png' %>
      <% end -%>

      <% for iteration in 1..bw_faces do -%>
        <%= image_tag 'face_bw.png' %>
      <% end -%>
    </td>
  </tr>  
  <tr>
    <th align='right'>Energy:</th>
    <td>
      <%
      number_of_bulbs = 7
      divisor = 727 / number_of_bulbs

      color_bulbs = (@person.top / divisor)
      bw_bulbs = number_of_bulbs - color_bulbs

      for iteration in 1..color_bulbs do -%>
        <%= image_tag 'bulb_color.png' %>
      <% end -%>

      <% for iteration in 1..bw_bulbs do -%>
        <%= image_tag 'bulb_bw.png' %>
      <% end -%>
    </td>
  </tr>
</table>
<br />
<table border='0'>
  <tr>
    <td>
      <%= button_to 'view board', board_index_path, method: 'get' %>
    </td>
    <td>
      <%= button_to 'edit', edit_mood_path(@person), method: 'get' %>
    </td>
    <td>
      <%= button_to 'delete', mood_path(@person), method: 'delete' %>
    </td>
  </tr>
</table>