<!DOCTYPE html>
<html>
<head>
  <title>Mood</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to('Board', moods_path) %></li>
  <li role="presentation" class="active"><%= link_to('Users', users_path) %>
  </li>
</ul>

<div class="content">
  <%= yield %>
</div>

</body>
</html>
